/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.row{
  margin-bottom: 80px;
}
#lezioni:first-child .row{
  margin-top: 50px;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}


/************ MEDIA QUERY SPECIFICHE ***********/

/* SMALL DEVICE */
@media all and (max-width: 768px){

  /* settaggi margini */
  #lezioni:first-child .row{
    margin-top: 10px;
  }
  .row, .left{
    margin-bottom: 20px;
  }
  .sx, .cx, .dx{
    margin-bottom: 10px;
  }

  /* settaggi img e testi */
  img{
    height: 120px;
  }
  h1{
    font-size:26px;
    color: red;
  }
  h3{
    font-size: 17.72px;
    color: violet;
  }
  p{
    font-size: 15px;
    width: 50%;
    margin: auto;
  }
}

/* MEDIUM DEVICE */
@media all and (min-width: 769px) and (max-width: 992px){

  /* settaggi margini */
  #lezioni:first-child .row{
    margin-top: 25px;
  }
  .row, .left{
    margin-bottom: 50px;
  }
  .sx, .cx, .dx{
    margin-bottom: 30px;
  }

  /* settaggi img e testi */
  img{
    height: 150px;
  }
  h1{
    font-size:30px;
    color:blue;
  }
  h3{
    font-size: 17.72px;
    color:green;
  }
  p{
    font-size: 16px;
    width: 50%;
    margin: auto;
  }
}

/* BIG DEVICE */
@media all and (min-width: 993px){





}
